{{ define "header" }}
<head>
    <title>ppacer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
    <script
        src="https://unpkg.com/htmx.org@2.0.1"
        integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
        crossorigin="anonymous"
    ></script>
</head>
{{ end }}

{{ block "navbar" . }}
    <header>
        <div class="navbar bg-base-100">
          <div class="flex-1">
            <img src="/assets/logo.svg" style="width: 150px;">
          </div>
          <div class="flex-none">
            <ul class="menu menu-horizontal px-1 gap-4">
                <li>
                    <a href="/" class="btn {{ if eq .Page "Runs" }}btn-primary{{else}}btn-accent btn-outline shadow-info{{end}}">Runs</a>
                </li>
                <li>
                    <a href="/hist" class="btn {{ if eq .Page "History" }}btn-primary{{else}}btn-accent btn-outline shadow-info{{end}}">History</a>
                </li>
                <li>
                    <a href="/dags" class="btn {{ if eq .Page "DAGs" }}btn-primary{{else}}btn-accent btn-outline shadow-info{{end}}">DAGs</a>
                </li>
                <li>
                    <a href="/sched" class="btn {{ if eq .Page "Schedules" }}btn-primary{{else}}btn-accent btn-outline shadow-info{{end}}">Schedules</a>
                </li>
            </ul>
          </div>
        </div>
    </header>
{{ end }}
