{{ block "page_dagrun_details" . }}
<DOCTYPE html>
<html lang="en">
    {{ template "header" }}
    <body data-theme="sunset">
        {{ template "navbar" . }}
        <div class="divider divider-secondary py-4">Run Summary</div>
            {{ template "dagrun_details_summary" . }}
        {{ template "dagrun_details_actions" . }}
        <div class="divider divider-secondary py-4">Tasks</div>

        <div class="container mx-auto">
            {{ template "dagrun_details_task_list" . }}
        </div>

        <script>
            function checkLogWindow(taskId) {
                console.log(`checkLogWindow for taskId: ${taskId}`);
                var logWindow = document.getElementById('log-window-' + taskId);
                if (!logWindow.classList.contains('hidden')) {
                  logWindow.setAttribute('data-open', 'true');
                } else {
                  logWindow.removeAttribute('data-open');
                }
            }
            function keepLogWindowOpen(taskId) {
                console.log(`keepLogWindowOpen for taskId: ${taskId}`);
                var logWindow = document.getElementById('log-window-' + taskId);
                if (logWindow.getAttribute('data-open') === 'true') {
                  logWindow.classList.remove('hidden');
                }
            }
        </script>
        {{ template "footer" .Version }}
    </body>
</html>
{{ end }}

{{ block "dagrun_details_summary" . }}
    <!-- Page Title -->
    <h2 class="text-2xl text-center font-bold text-primary mb-4">
        DAG Run Details: #{{ .Details.RunId }} - {{ .Details.DagId }}
    </h2>

    {{ template "alert" (index .Errors "dagrunDetailsErr") }}

    <div id="dagrun_details_summary" class="container m-auto">
        <div class="hidden md:flex stats shadow flex-row flex-wrap gap-2">
          <div class="stat flex-1 place-items-center">
            <div class="stat-title">Execution time</div>
            <div class="stat-value">{{.Details.ExecTs.ToDisplay}}</div>
          </div>

          <div class="stat flex-1 place-items-center">
            <div class="stat-title">Status</div>
            <div class="stat-value text-secondary">
                {{ template "status_raw" .Details.Status }}
            </div>
          </div>

          <div class="stat flex-1 place-items-center">
            <div class="stat-title">Duration</div>
            <div class="stat-value">{{.Details.Duration}}</div>
          </div>

          <div class="stat flex-1 place-items-center">
            <div class="stat-title">Duration to last 10 runs</div>
            <div class="stat-value">+350ms (13%)</div>
          </div>
        </div>

        <!-- Simple layout for small screens -->
        <div class="md:hidden shadow rounded-lg p-4 space-y-2">
            <div>
                <strong>Execution time:</strong> {{.Details.ExecTs.ToDisplay}}
            </div>

            <div>
                <strong>Status:</strong>
                <span class="text-secondary">
                    {{ template "status_raw" .Details.Status }}
                </span>
            </div>

            <div><strong>Duration:</strong> {{.Details.Duration}}</div>
            <div><strong>Duration to last 10 runs:</strong> +350ms (13%)</div>
        </div>
    </div>
{{ end }}

{{ block "dagrun_details_actions" . }}
    {{ if eq .Details.Status "FAILED" }}
    <div class="divider divider-secondary py-4">Actions</div>

    {{ template "alert" (index .Errors "dagrunActionsErr") }}

    <div class="container mx-auto py-4">
        <div class="flex justify-center">
            <button
                class="btn btn-primary btn-md"
                hx-post="/dagruns/restart"
                hx-vals='{"dagId": "{{ .Details.DagId }}", "execTs": "{{ .Details.ExecTsRaw }}", "runId": "{{ .Details.RunId }}"}'
                hx-target="body"
                hx-swap="none"
            >
                Restart DAG Run
            </button>
        </div>
    </div>
    {{ end }}
{{ end }}

{{ block "dagrun_details_task_list" . }}
    <!-- Tasks List -->
    <div>
        <h3 class="text-xl font-semibold mb-2">Tasks</h3>
        <ul class="space-y-4">
            {{ template "alert" (index .Errors "dagrunTaskDetailsErr") }}
            {{ range .Details.Tasks }}
                {{ template "dagrun_details_task_item" . }}
            {{ end }}
        </ul>
    </div>
{{ end }}

{{ block "dagrun_details_task_item" . }}
    <li class="flex items-center" id="task-{{ .TaskId }}-{{ .Retry }}">
        <!-- Indentation with dynamic margin and a vertical line, only on medium screens and up -->
        <div class="hidden md:block md:flex-shrink-0" style="width: {{ .Pos.Indent }}rem;">
            <div class="border-l-2 border-gray-200 h-full"></div>
        </div>

        <!-- Task Content -->
        <div class="flex-grow p-0 bg-base-100 rounded-lg shadow">
            <div class="flex justify-between items-center">
                <!-- Task ID -->
                <div class="flex flex-col w-full md:w-1/4">
                    <div class="text-xs md:text-sm font-medium text-gray-500">Task</div>
                    <div class="text-sm md:text-lg font-bold text-primary">{{ .TaskId }}</div>
                </div>

                <!-- Position -->
                <div class="hidden md:flex flex-col w-full md:w-1/6">
                    <div class="text-xs md:text-sm font-medium text-gray-500">Position</div>
                    <div class="text-sm md:text-lg font-bold text-primary">
                        ({{ .Pos.Depth }}, {{ .Pos.Width }})
                    </div>
                </div>

                <!-- Retry -->
                <div class="hidden md:flex flex-col w-full md:w-1/6">
                    <div class="text-xs md:text-sm font-medium text-gray-500">Retry</div>
                    <div class="text-sm md:text-lg font-bold text-primary">
                        {{ .Retry }}
                    </div>
                </div>

                <!-- Status -->
                <div class="flex flex-col w-full md:w-1/6">
                    <div class="text-sm font-medium text-gray-500">Status</div>
                    {{ template "status" .Status }}
                </div>

                <!-- Duration -->
                <div class="flex flex-col w-full md:w-1/6">
                    <div class="text-xs md:text-sm font-medium text-gray-500">Duration</div>
                    <div class="text-sm md:text-lg font-bold text-primary">{{ .Duration }}</div>
                </div>

                <!-- View Logs Button -->
                <button onclick="document.getElementById('log-window-{{ .TaskId }}').classList.toggle('hidden')"
                    class="btn btn-xs md:btn-sm btn-secondary">
                    View Logs ({{ .TaskLogs.LogRecordsCount }})
                </button>
            </div>

            <!-- Task Logs Window -->
            <div id="log-window-{{ .TaskId }}" class="mockup-window bg-base-300 border mt-4
                {{ if not .LogsWindowOpen }} hidden {{ end }}"
            >
                {{ template "task_logs_in_window" . }}
            </div>
        </div>
    </li>
{{ end }}

{{ block "task_logs_in_window" . }}
<div class="bg-base-200 px-4 py-4 logs-content">
    <h4 class="text-md font-semibold mb-2">Logs ({{ .TaskLogs.LoadedRecords }}/{{ .TaskLogs.LogRecordsCount }}):</h4>
    <ul class="space-y-2">
        {{ range .TaskLogs.Records }}
        <li class="text-xs md:text-sm">
            <span class="font-bold text-secondary">{{ .InsertTs.Time }}</span>
            {{ if eq .Level "ERROR" }}
                <span class="font-bold text-red-500">[{{ .Level }}]:</span>
                <span class="text-red-500">{{ .Message }}</span>
                {{ if ne .AttributesJson "{}" }}
                    <span class="text-red-600">({{ .AttributesJson }})</span>
                {{ end }}
            {{ else }}
                <span class="font-medium">[{{ .Level }}]:</span>
                <span class="text-gray-400">{{ .Message }}</span>
                {{ if ne .AttributesJson "{}" }}
                    <span class="text-gray-600">({{ .AttributesJson }})</span>
                {{ end }}
            {{ end }}
        </li>
        {{ end }}
    </ul>
    {{ if eq .Status "RUNNING" }}
        <button class="btn btn-xs md:btn-sm btn-info my-4"
            hx-get="/dagruns/task/refresh/{{ .RunId }}/{{ .TaskId }}/{{ .Retry }}/{{ .Pos.Depth }}_{{ .Pos.Width }}_{{ .Pos.Indent }}"
            hx-target="#task-{{ .TaskId }}-{{ .Retry}}"
            hx-swap="outerHTML"
        >
            Sync logs
        </button>
    {{ end }}
</div>
{{ end }}

{{ block "status" . }}
    <div class="text-xs md:text-lg font-bold text-primary">
        {{ template "status_raw" . }}
    </div>
{{ end }}

{{ block "status_raw" . }}
    {{ if eq . "SUCCESS" }}
        <span class="text-success">✅ SUCCESS</span>
    {{ else if eq . "FAILED" }}
        <span class="text-error">❌ FAILED</span>
    {{ else if eq . "FAILED_PENDING_RETRY" }}
        <span class="text-error">❌🕒 FAILED (PENDING RETRY)</span>
    {{ else if eq . "RUNNING" }}
        <span class="text-warning">🔥 RUNNING</span>
    {{ else if eq . "PENDING" }}
        <span class="text-info">🕒 PENDING</span>
    {{ else }}
        <span class="text-gray-400">⬜ NOT STARTED</span>
    {{ end }}
{{ end }}
